%ul
  - for choice in @possible_choices
    - count = @results[choice] || 0
    - percentage = ((count.to_f / @total) * 100).ceil
    %li
      %a.choice{:href => ""}= choice
      %span.count= "#{percentage}%"
      %span.percentage{:style => "width: #{percentage}%"}= count
      
      %ul
        - for vote_id, vote in @votes[choice]
          - if !vote.blank?
            %li.tweet!= auto_link vote["text"]