- votes = @poll.votes.scoped & @filter
- total = votes.count
-# users = profiles([session[:user].to_i] + @poll.votes.map {|v| v.author.to_i })
%section#question
  #count
    %span=total
    = total > 1 ? "votes" : "vote"
  #tweet
    %h1!= auto_link(@poll.text)
    .speech-arrow

%section#filter
  %h2 Filter the results
  %ul#filters
    %li
      %a#list-filters{:href => ""} &hellip; from your lists
  #filter-options

%section#answers
  - if !votes.blank?
    - for choice in @poll.choices
      - vs = votes.where(:choice => choice)
      - count = vs.count || 0
      - percentage = ((count.to_f / total) * 100).ceil
      
      %section.choice
        %hgroup
          %h1= choice
          %h2.percentage= "#{percentage}%"
          %h2= pluralize(count, "vote")
        %ul
          - for vote in vs
            %li.tweet
              %span!= auto_link vote.text.gsub(%r{^@#{@poll.user.username} }i, '')
              %a.from{:href => "http://twitter.com/#{vote.username}"}
                = vote.username
                %img{:src => profile_picture(vote.author), :width => "20", :height => "20"}
              
  - else
    %h1 No one has answered this poll yet. Your followers should reply to the tweet using #hashtags to describe their choice.

:javascript
  $(document).ready(function() {
    $("#list-filters").click(fetchLists)
  })