- total = @poll.votes.count
%section#question
  #count
    %span=total
    = total > 1 ? "votes" : "vote"
  #tweet
    %h1!= auto_link(@poll.text)
    .speech-arrow

%section#answers
  - if !@poll.votes.blank?
    - for choice in @poll.choices
      - votes = @poll.votes.where(:choice => choice)
      - count = votes.count || 0
      - percentage = ((count.to_f / total) * 100).ceil
      
      %section.choice
        %hgroup
          %h1= choice
          %h2.percentage= "#{percentage}%"
          %h2= pluralize(count, "vote")
        %ul
          - for vote in votes
            - if !vote.blank?
              %li.tweet
                %img{:src => profile_picture(vote.author), :width => "20", :height => "20"}
                %span!= auto_link vote.text