!!! 5
%html
  %head
    %title Kibitz
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"
    = javascript_include_tag 'rails'
    = javascript_include_tag 'application'
    = javascript_include_tag 'underscore'
    = csrf_meta_tag

%body.main
  #container
    %header
      %hgroup
        %h1
          %a(href="/") Kibitz
        .speech-arrow
      %menu
        %ul
          - if signed_in?
            %li= link_to "dashboard", dashboard_path
            %li= link_to "sign out", logout_path
    #content
      = yield
    %footer
